.et-table {
  position: relative;
  overflow: scroll;
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;

  .et-thead {
    position: absolute;
    top: 0;
    z-index: 2;
    box-sizing: border-box;
  }

  .et-tbody {
    position: absolute;
    box-sizing: border-box;
  }

  .et-tfoot {
    position: absolute;
    box-sizing: border-box;
  }
}
