.et-table {
  position: relative;
  overflow: scroll;
  height: 100%;
  min-height:100%;
  width: 100%;
  border-collapse: collapse;
  box-sizing: border-box;

  .et-thead {
    position: absolute;
    top: 0;
    box-sizing: border-box;
  }

  .et-tbody {
    position: absolute;
    overflow: scroll;
  }

  .et-tfoot {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
  }
}
